
body 
{
 background-color: whitesmoke;
 text-align: center;
}

h1 {
    text-align: center;
    color: blueviolet;
}

footer {
    font-size: smaller;
    text-align: center;
    color: black;
padding: 30px;

}
div.pageBody {
margin: 3px auto;
padding: 10%;
}



#signUp {
    color: lavender;
 display: block;
   margin: 0px auto;
   border: orchid;
   border-radius: 5px;
}
a {
    text-decoration: none;
}
small {
  text-decoration: underline;
  opacity: 0.6;

}