h1 {
    text-align: center;
    color: blueviolet;
}

footer {
    font-size: smaller;
    text-align: center;
    color: black;
padding: 30px;

}

button{
   display: block;
   margin: 0 auto;
   border: orchid;
   border-radius: 5px;
}

a {
    text-decoration: none;
}